// Colours
$beige: #c9b39c;
$light-beige: #dfcbbe;
$light-brown: #9d6e56;
$brown: #463027;
$globalBrown: #452F26;
$white: #fbfcfc;
$grey: #ada59f;
$black: #1d1d1b;

// Breakpopints
$breakpoint-large-desktop: 1200px;
$breakpoint-desktop: 940px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 767px;

